:root {
  --uc-tab-curve-size: 10px;
  --tab-selected-bgcolor: var(--md-background-color-100, #ffffff) !important;
}

.tabbrowser-tab {
  padding-inline: 0px !important;
  overflow: visible !important;
}

.tab-stack {
  overflow: visible !important;
}

.tab-background {
  border-radius: 12px 12px 0 0 !important;
  border: none !important;
  outline: none !important;
}

.tab-stack::before,
.tab-stack::after {
  content: "" !important;
  display: none !important;
  position: absolute !important;
  bottom: 0 !important;
  width: var(--uc-tab-curve-size) !important;
  height: var(--uc-tab-curve-size) !important;
  z-index: 1 !important;
  fill: var(--tab-selected-bgcolor) !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpath fill='context-fill' d='M0,0 L0,10 L10,10 A10,10 0 0,1 0,0 Z'/%3E%3C/svg%3E") !important;
  background-size: cover !important;
  -moz-context-properties: fill !important;
}

.tab-stack::before {
  left: calc(-1 * var(--uc-tab-curve-size)) !important;
  transform: scaleX(-1) !important;
}

.tab-stack::after {
  right: calc(-1 * var(--uc-tab-curve-size)) !important;
}

.tabbrowser-tab[selected] > .tab-stack::before,
.tabbrowser-tab[selected] > .tab-stack::after {
  display: block !important;
}

.tabbrowser-tab[pinned][selected] .tab-stack {
  background: var(--tab-selected-bgcolor) !important;
  border-radius: 12px 12px 0 0 !important;
  clip-path: none !important; 
}

.tabbrowser-tab[selected] .tab-background {
  background: var(--tab-selected-bgcolor) !important;
  overflow: visible !important;
}

.tabbrowser-tab[pinned][selected] .tab-background {
  background: transparent !important;
}

.tabbrowser-tab:first-child,
.tabbrowser-tab[selected]:first-child {
  margin-inline-start: var(--uc-tab-curve-size) !important;
}

.tabbrowser-tab:last-child,
.tabbrowser-tab[selected]:last-child {
  margin-inline-end: var(--uc-tab-curve-size) !important;
}

#tabbrowser-tabs:has([pinned]) #tabbrowser-arrowscrollbox:not([overflowing]) {
  margin-inline-start: calc(-2 * var(--uc-tab-curve-size)) !important;
}

#tabbrowser-tabs:not(:has([pinned])) #tabbrowser-arrowscrollbox {
  margin-inline-start: 0 !important;
}

#tabs-newtab-button {
  margin-inline-start: calc(2px - var(--uc-tab-curve-size)) !important;
}
